# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
src/data/seed_data.json
.vscode
venv
.dynamodb

# Cache
src/__pycache__/
src/data/__pycache__/
src/api/v1/auth/__pycache__/
src/api/v1/helpers/__pycache__/
src/api/v1/__pycache__/
src/model/__pycache__/
src/external/__pycache__/
src/model/operations/__pycache__/
src/model/aggregates/__pycache__/
/tests/__pycache__/
.pytest_cache/

# Serverless directories
.serverless
