[MASTER]
extension-pkg-whitelist=pydantic
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc())); sys.path.append(os.path.dirname(find_pylintrc()) + '/venv/lib/python3.8/site-packages')"
